 {{> head }}

<body>


    {{> navbar }}


    <div class="row">

        <div class="col-8">
            <h1>Hola Mundo</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, autem maxime debitis, deserunt non omnis quaerat corrupti totam delectus impedit aliquam reprehenderit, est amet illum. Ipsum deserunt dolores temporibus corporis.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/github.png" class="img-thumbnail">
        </div>


    </div>

    {{> footer}}